In [2]:
import sklearn.externals
import joblib
import pandas as pd # 引用套件並縮寫為pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore") # 把warning關掉

from sklearn import datasets
import numpy as np
from IPython.display import Image

%matplotlib inline

In [40]:
predata = pd.read_csv(r'C:\Users\user\Tool_Life_Classification_Model\‪TC_4_JSK_D12_190630_Batch1_B16.csv')
predata.head()

,VBmaxWD_F1,VBmaxWD_F2,VBmaxWD_F3,VBmaxWD_F4,VBsumWD_F1,VBsumWD_F2,VBsumWD_F3,VBsumWD_F4,VBWL_F1,VBWL_F2,...,CHWL_F3,CHWL_F4,PHnum_F1,PHnum_F2,PHnum_F3,PHnum_F4,PHsum_F1,PHsum_F2,PHsum_F3,PHsum_F4
0,634.27,188.19,188.19,188.19,2276429.88,957224.95,957343.44,958305.3,4899.7,4221.28,...,4258.97,4258.97,810,348,476,415,34524.04,13153.81,18543.48,16169.01

In [4]:
predata.drop( ['Source.name'],axis = 1,inplace = True)
predata.head()

,VBmaxWD_F1,VBmaxWD_F2,VBmaxWD_F3,VBmaxWD_F4,VBsumWD_F1,VBsumWD_F2,VBsumWD_F3,VBsumWD_F4,VBWL_F1,VBWL_F2,VBWL_F3,VBWL_F4,CHnum_F1,CHnum_F2,CHnum_F3,CHnum_F4,CHsum_F1,CHsum_F2,CHsum_F3,CHsum_F4
0,1177.93,2195.55,2564.96,2564.96,8855099.23,15841471.76,16514564.66,16190801.19,5615.81,5615.81,5427.36,5615.81,706,345,473,524,29473.58,14284.51,18845.00,20616.43
1,2432.53,1122.17,1122.17,1122.17,12095041.00,8587374.56,8575246.76,8652439.51,1771.43,5615.81,5615.81,5615.81,906,483,399,419,41345.93,18694.24,15490.59,16432.84
2,1129.14,1010.65,1010.65,1010.65,9063397.68,8986030.68,8908461.55,8907708.79,5615.81,5615.81,5615.81,5578.12,637,275,471,341,26006.10,10779.34,18091.20,13191.50
3,439.11,690.03,690.03,690.03,1275182.41,5408420.29,5270003.06,5336106.54,1469.91,5615.81,5615.81,5615.81,896,473,489,398,43079.67,18845.00,19146.52,15792.11
4,432.14,717.91,717.91,717.91,2850381.50,4034479.95,4179288.67,3959231.83,5615.81,5615.81,5578.12,5502.74,701,345,473,524,29360.51,14284.51,18845.00,20804.88

In [6]:
predata = pd.concat([data, predata], sort=False)
predata.head()

,VBmaxWD_F1,VBmaxWD_F2,VBmaxWD_F3,VBmaxWD_F4,VBsumWD_F1,VBsumWD_F2,VBsumWD_F3,VBsumWD_F4,VBWL_F1,VBWL_F2,VBWL_F3,VBWL_F4,CHnum_F1,CHnum_F2,CHnum_F3,CHnum_F4,CHsum_F1,CHsum_F2,CHsum_F3,CHsum_F4
0,125.46,174.25,174.25,174.25,259486.13,253526.78,253526.78,253526.78,3165.96,5427.36,5427.36,5427.36,668,374,268,346,27212.18,14623.72,10402.44,13719.16
0,1177.93,2195.55,2564.96,2564.96,8855099.23,15841471.76,16514564.66,16190801.19,5615.81,5615.81,5427.36,5615.81,706,345,473,524,29473.58,14284.51,18845.00,20616.43
1,2432.53,1122.17,1122.17,1122.17,12095041.00,8587374.56,8575246.76,8652439.51,1771.43,5615.81,5615.81,5615.81,906,483,399,419,41345.93,18694.24,15490.59,16432.84
2,1129.14,1010.65,1010.65,1010.65,9063397.68,8986030.68,8908461.55,8907708.79,5615.81,5615.81,5615.81,5578.12,637,275,471,341,26006.10,10779.34,18091.20,13191.50
3,439.11,690.03,690.03,690.03,1275182.41,5408420.29,5270003.06,5336106.54,1469.91,5615.81,5615.81,5615.81,896,473,489,398,43079.67,18845.00,19146.52,15792.11

In [7]:
#標準化 
from sklearn.preprocessing import StandardScaler 
std=StandardScaler()
std.fit(predata)
predata_std=std.transform(predata)
print(predata_std[0:5,:])

[[-0.43032352 -0.18877636 -0.17032502 -0.1737501  -0.39716754 -0.31096953
  -0.30649153 -0.30841113 -1.20870178  0.6352016   0.63329602  0.58627137
  -0.2220698  -0.09035896 -1.58398807 -0.83434587 -0.28868759 -0.06514874
  -1.52708372 -0.7738792 ]
 [ 3.07320911  8.6347604   9.67599239  9.58546696  5.60343835 10.50436197
  10.74948485 10.64046892  0.77327641  0.77939082  0.63329602  0.73589826
   0.09650348 -0.45679293  1.21712567  1.72114145  0.02267156 -0.17249307
   1.34281782  1.6905041 ]
 [ 7.24960561  3.94915812  3.73375418  3.69579369  7.86524487  5.47127608
   5.35149538  5.46162744 -2.33690474  0.77939082  0.78243942  0.73589826
   1.77320496  1.28692731  0.20599193  0.21369106  1.65730709  1.2229833
   0.20254444  0.19571423]
 [ 2.91079369  3.4623423   3.27445075  3.24055324  5.74885171  5.74787431
   5.5780501   5.63699699  0.77327641  0.77939082  0.78243942  0.70597288
  -0.48195852 -1.3412887   1.18979774 -0.90612922 -0.4547458  -1.28171788
   1.08657661 -0.96241126]
 [ 0.61377561  2.06274681  1.95395337  1.93173696  0.31189103  3.26563292
   3.10424053  3.18331241 -2.58084052  0.77939082  0.78243942  0.73589826
   1.68936989  1.16057077  1.43574919 -0.08779901  1.89601577  1.27069189
   1.4453143  -0.03321755]]

In [8]:
testdata = predata_std[0,:]
print(testdata)

[-0.43032352 -0.18877636 -0.17032502 -0.1737501  -0.39716754 -0.31096953
 -0.30649153 -0.30841113 -1.20870178  0.6352016   0.63329602  0.58627137
 -0.2220698  -0.09035896 -1.58398807 -0.83434587 -0.28868759 -0.06514874
 -1.52708372 -0.7738792 ]

In [3]:
Model_LRM = joblib.load("0716LRM_model.dat")
Model_DT = joblib.load("0716DT_model.dat")
Model_RBF = joblib.load("0716RBF_model.dat")
Model_Line = joblib.load("0716Line_model.dat")
Model_Poly = joblib.load("0716Poly_model.dat")
Model_Sig = joblib.load("0716Sig_model.dat")
Model_Mjv = joblib.load("0805Mjv_model.dat")
Model_rMjv = joblib.load("0805rMjv_model.dat")
Model_Adb = joblib.load("0807adaboost_model.dat")

In [4]:
data  = pd.read_csv(r'C:\Users\user\Tool_Life_Classification_Model\‪TC_4_JSK_D12_190630_Batch1_B16.csv')
data2 = pd.read_csv(r'C:\Users\user\Tool_Life_Classification_Model\‪TC_4_JSK_D12_190630_Batch1_RR10.csv')
data3 = pd.read_csv(r'C:\Users\user\Tool_Life_Classification_Model\‪TC_4_JSK_D12_190630_Batch1_PP14.csv')
print(data3)

   VBmaxWD_F1  VBmaxWD_F2  VBmaxWD_F3  VBmaxWD_F4  VBsumWD_F1  VBsumWD_F2  \
0       83.64       41.82       41.82       41.82    62743.94    63663.98

   VBsumWD_F3  VBsumWD_F4  VBWL_F1  VBWL_F2  ...  CHWL_F3  CHWL_F4  PHnum_F1  \
0    63120.32    64200.67  5615.81  2110.64  ...  2110.64  5615.81       861

   PHnum_F2  PHnum_F3  PHnum_F4  PHsum_F1  PHsum_F2  PHsum_F3  PHsum_F4
0       446       375       538  41572.07  17148.95  14209.13  21144.09

[1 rows x 32 columns]

In [77]:
y_pred = Model_DT.predict(data)
print(y_pred)
y_pred = Model_LRM.predict(data)
print(y_pred)
y_pred = Model_Line.predict(data)
print(y_pred)
y_pred = Model_Poly.predict(data)
print(y_pred)
y_pred = Model_Sig.predict(data)
print(y_pred)
y_pred = Model_RBF.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]
[0]
[0]
[0]
[0]
[0]

In [78]:
y_pred = Model_DT.predict(data2)
print(y_pred)
y_pred = Model_LRM.predict(data2)
print(y_pred)
y_pred = Model_Line.predict(data2)
print(y_pred)
y_pred = Model_Poly.predict(data2)
print(y_pred)
y_pred = Model_Sig.predict(data2)
print(y_pred)
y_pred = Model_RBF.predict(data2)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[1]
[0]
[1]
[0]
[1]
[1]

In [79]:
y_pred = Model_DT.predict(data3)
print(y_pred)
y_pred = Model_LRM.predict(data3)
print(y_pred)
y_pred = Model_Line.predict(data3)
print(y_pred)
y_pred = Model_Poly.predict(data3)
print(y_pred)
y_pred = Model_Sig.predict(data3)
print(y_pred)
y_pred = Model_RBF.predict(data3)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[1]
[0]
[2]
[0]
[0]
[2]

In [55]:
y_pred = Model_DT.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [63]:
y_pred = Model_LRM.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [64]:
y_pred = Model_Line.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [65]:
y_pred = Model_Poly.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [66]:
y_pred = Model_Sig.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [67]:
y_pred = Model_RBF.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [81]:
y_pred = Model_Mjv.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [83]:
y_pred = Model_rMjv.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]

In [113]:
y_pred = Model_Adb.predict(data)
print(y_pred)
# [0]為報廢刀刀具編碼 B，[1]為粗加工刀刀具編碼 R，[2]為精加工刀編碼 P

[0]